__pycache__/
Mochila-Fracionaria/Instancias/5.txt
Mochila-Fracionaria/Instancias/6.txt
Mochila-Fracionaria/Instancias/7.txt
Mochila-Fracionaria/Instancias/8.txt
Mochila-Fracionaria/Instancias/9.txt
Trabalho Prático 1.pdf
.vscode